.User {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: calc(50vh - 300px);
    left: calc(50vw - 45vw);
    height: 600px;
    width: 90vw;
}

@media(min-width: 567px) {
    .User {
        flex-direction: row;
        left: calc(50vw - 45vw);
        width: 90vw
    }
}