.User {
    position: relative;
    display: flex;
    margin: 75px auto;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    max-width: 500px;
}

@media(min-width: 567px) {
    .User {
        flex-direction: row;
    }
}

@media(min-width: 786px) {
    .User {
        flex-direction: row; 
        max-width: 1600px;
    }
}