.ContactItem {
    display: flex; 
    padding: 5px;
    box-shadow: 0px 0px 10px 1px #ccc;
    width: 100%;
}

.ContactItem:first-child {
    margin-bottom: 25px;
}

.ContactItem svg {
    display: none;
}

.ContactItemTitle {
    width: 100%;
}

.ContactItemTitle h2 {
    color: rgb(11, 72, 107);
    margin: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

.ContactItemTitle p {
    margin: 0;
    color: rgb(245, 98, 23);
    width: 100%;
}

@media(min-width: 400px) {
    .ContactItem {
        padding: 25px;
    }

    .ContactItem svg {
        display: block;
        fill: rgb(11, 72, 107);
        height: 35px;
        margin-right: 10px;
    }
}

@media(min-width: 786px) {
    .ContactItem {
        width:50%;
    }

    .ContactItem:first-child {
        margin: 0;
        margin-right: 10px;
    }
}